# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Code Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace